div.user-rating__text Моя оценка
if myRating<5
    span(class ="user-rating__number negative-chosen") #{myRating}
else if myRating < 7
    span(class ="user-rating__number neutral-chosen") #{myRating}
else
    span(class ="user-rating__number positive-chosen") #{myRating}
