@import '../../css/consts';

.user_rating {
  display: flex;
  gap: 10px;

  &_number {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_rating_text {
    margin-top: 2px;
    font-size: 16px;
  }
}
