.profile-header {
  background: no-repeat center/cover url(./static/pics/Header.png);
  width: 1370px;
  height: 270px;
  margin: 20px 7% 0;
  position: relative;

  &__img {
    box-shadow: 0 0 20px 1px rgb(255 255 255 / 30%);
    border-radius: 100px;
    height: 170px;
    width: 170px;
    position: absolute;
    top: 50px;
    left: 60px;
    object-fit: cover;
  }

  &__name-surname {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    position: absolute;
    top: 80px;
    left: 260px;
    font-size: 26px;
    color: $white;
  }

  &__label-subscribers-count {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    position: absolute;
    top: 140px;
    right: 340px;
    font-size: 14px;
    color: $white;
  }

  &__label-bookmark-count {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    position: absolute;
    top: 140px;
    right: 140px;
    font-size: 14px;
    color: $white;
  }

  &__bookmark-count {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    position: absolute;
    top: 95px;
    left: 1190px;
    font-size: 30px;
    color: $white;
  }

  &__subscribers-count {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    position: absolute;
    top: 95px;
    left: 1005px;
    font-size: 30px;
    color: $white;
  }

  &__label-reg-data {
    position: absolute;
    top: 120px;
    left: 260px;
    font-size: 16px;
    color: $gray-menu;
  }

  &__reg-data {
    position: absolute;
    top: 140px;
    left: 260px;
    font-size: 16px;
    color: $gray-menu;
  }
}
