.auth-error-input {
  border: 2px solid $pink;
  margin: 1em 0 0;

  &_animated {
    animation: errorField  0.3s 1 ease-in-out;
  }
}

.auth-error-text {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 13px;
  color: $purple-text;
  margin: 0.5em 0 0;
  width: 80%;
}

.not-authorized-error {
   text-align: center;
   font-size: 1em;
   margin: 1em auto 0;
   font-family: "Montserrat-Medium", "Arial", sans-serif;
}

@keyframes errorField {
  from {background-color: white;}
  50% {background-color: $pink;}
  to {background-color: white;}
}
