.profile {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  background: no-repeat center/cover url(./static/pics/Header.png);
  width: 1370px;
  height: 270px;
  margin: 20px 7% 0;
  position: relative;
}

.profile-img {
  box-shadow: 0 0 20px 1px rgb(255 255 255 / 30%);
  border-radius: 100px;
  height: 170px;
  width: 170px;
  position: absolute;
  top: 50px;
  left: 60px;
  object-fit: cover;
}

.name-surname {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  position: absolute;
  top: 80px;
  left: 260px;
  font-size: 26px;
  color: #F2F2F2;
}

.label-subscribers-count {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  position: absolute;
  top: 140px;
  right: 340px;
  font-size: 14px;
  color: #F2F2F2;
}

.label-bookmark-count {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  position: absolute;
  top: 140px;
  right: 140px;
  font-size: 14px;
  color: #F2F2F2;
}

.bookmark-count {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  position: absolute;
  top: 95px;
  left: 1190px;
  font-size: 30px;
  color: #F2F2F2;
}

.subscribers-count {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  position: absolute;
  top: 95px;
  left: 1005px;
  font-size: 30px;
  color: #F2F2F2;
}

.label-reg-data {
  position: absolute;
  top: 120px;
  left: 260px;
  font-size: 16px;
  color: #716E6E;
}

.reg-data {
  position: absolute;
  top: 140px;
  left: 260px;
  font-size: 16px;
  color: #716E6E;
}

.profile-menu {
  margin-top: 20px;
  width: 1170px;
  position: relative;
  font-family: "Montserrat-Medium", sans-serif;
  color: #716E6E;
  font-size: 16px;
}

.profile-menu-link {
  margin: 0 15px;
  text-decoration: none;
  color: #716E6E;
}

.profile-menu-link:hover {
  color: $pink;
}

.active-profile-menu-button {
  color: $pink;
  border-bottom: 5px solid;
  border-radius: 5px;
}

.settings-inputs {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  padding-left: 15px;
  flex: 0 0 auto;
  border-radius: 10px;
  width: 310px;
  height: 36px;
  font-size: 18px;
  outline: none;
  border: 0;
  background-color: lightgray;
}

.review-block {
  width: 570px;
  margin: 7px;
  height: 162px;
  position: relative;
  background-color: rgba(36, 11, 54, 0.1);
  border-radius: 20px;
}

.film-img {
  width: 177px;
  height: 100px;
  position: absolute;
  left: 24px;
  top: 22px;
  object-fit: cover;
  border-radius: 20px;
}

.film-name-ru {
  text-decoration: none;
  position: absolute;
  top: 22px;
  left: 230px;
  color: black;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
}

.film-name-ru:hover {
  color: $pink;
}

.film-name-en {
  position: absolute;
  top: 49px;
  left: 230px;
  font-size: 14px;
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin-top: 10px;
}

.stars-block {
  position: absolute;
  left: 80px;
  top: 130px;
}

.review-text {
  position: absolute;
  top: 77px;
  left: 225px;
  font-size: 16px;
  font-family: "Montserrat-Medium", sans-serif;
}

.to-review-btn {
  width: 100px;
  bottom: 15px;
  right: 20px;
  position: absolute;
  height: 25px;
  font-size: 12px;
  font-family: "Montserrat-Bold", sans-serif;
  background: white;
  border: 2px solid #73324A;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #73324A;
}

.more-btn {
  width: 130px;
  height: 40px;
  font-size: 16px;
  font-family: "Montserrat-Bold", sans-serif;
  background: white;
  border: 2px solid #73324A;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #73324A;
  margin-top: 10px;
  margin-left: 7px;
  margin-bottom: 40px;
}

.write-review-btn {
  width: 200px;
  bottom: 15px;
  right: 20px;
  position: absolute;
  height: 40px;
  font-size: 14px;
  font-family: "Montserrat-Bold", sans-serif;
  background: white;
  border: 2px solid #73324A;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #73324A;
}


.to-review {
  text-decoration: none;
}

.to-review-btn:hover, .more-btn:hover, .write-review-btn:hover {
  color: $pink;
  border-color: $pink;
  cursor: pointer;
}

q {
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  quotes: '“' '”'
}

.settings-form {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.settings-btn {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 18px;
  border-radius: 15px;
  background-color: $pink;
  color: white;
  margin: 10px auto;
  height: 40px;
  outline:none;
  border: 0;
  cursor: pointer;
  width: 280px;
}

.settings-btn:hover {
  transform: scale(0.95);
}
