@import '../../css/consts.scss';

.actor {
  &__biography {
    margin-top: $block_indentation;
    margin-bottom: 50px;
  }

  &__text {
    color: $grey-background;
    display: flex;
    letter-spacing: 0.8px;
  }

  &__facts-button {
    @media (max-width: $md3+px) {
      display: none;
    }
  }
}

