@import '../../css/consts';

.place-between-blocks {
  margin-bottom: 40px;
}

.content__actor-info {
  background-color: $white;
  width: 1200px;
  margin: auto;

  .actor-info__container {
    grid-template-columns:  3fr 8fr;
    column-gap: 5%;
    display: grid;

    .container__pic-actor {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .container__pic-actor img {
      width: 100%;
      height: 100%;
      object-fit: cover
    }

    .actor-info__text {
      color: $black;
      display: grid;
      grid-template-rows:  3fr  1fr 5fr 1fr 45px;
      grid-column-start: 2;
      grid-column-end: 3;

      .name {
        grid-row-start: 1;
        grid-row-end: 2;

        .text__name-rus {
          font-family: "Montserrat-Black", "Arial", sans-serif;;
          font-size: 40px;
          line-height: normal;
          margin-bottom: 12px;
        }

        .text__name-en {
          font-size: 16px;
          line-height: normal;
        }
      }

      .text__title-facts {
        grid-row-start: 2;
        grid-row-end: 3;
        font-weight: 700;
        font-size: 26px;
      }

      .facts {
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 20px;

        .title-facts__container {
          margin-bottom: 5px;
          display: grid;
          grid-template-columns: 3fr 5fr;
          column-gap: 2%;

          .title-facts__container_key {
            grid-column-start: 1;
            grid-column-end: 2;
          }

          .title-facts__container_value {
            grid-column-start: 2;
            grid-column-end: 3;
            font-weight: 600;
          }
        }
      }

      .button-show-more {
        grid-row-start: 5;
        grid-row-end: 6;
        border-radius: 10px;
        border: 4px solid $purple-button;
        cursor: pointer;
        font-family: "Montserrat-Bold", "Arial", sans-serif;;
        font-size: 20px;
        padding: 8px 20px;
        color: $purple-button;
        max-width: 120px;
        max-height: 60px;
        justify-content: center;
        align-items: center;
      }

      .button-show-more:hover {
        color: $pink;
        border: 4px solid $pink;
      }
    }
  }

  .actor-info__background {
    background-color: $grey-background;
    border-radius: 20px;
    width: 1280px;
    padding: 40px;
    color: $white;
  }

  .name-of-topic {
    font-family: "Montserrat-Bold", "Arial", sans-serif;;
    font-size: 30px;;
    margin-top: 0px;
  }

  .wrapper {
  }

  .slider-container {
    overflow: hidden;
  }

  .slider-track {
    display: flex;
    text-align: center;
    transition: .2s;
  }

  .film-collection_pics {
    //margin-right: 10px;
    //min-width:275px;
  }

  .film-collection_pics img {
    width:90%;
    border-radius: 20px;
  }

  .carousel_film_name {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: $white;
  }

  .actor-film__back {
    gap: 30px;
    position: relative;
    display: grid;

    .actor-film__background {
      background: linear-gradient(
                      104deg,
                      $grey-background 0%,
                      rgba(67, 54, 73, 1) 100%
      );
      border-radius: 10px;
      padding: 2% 2% 2% 2%;
      box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.25);
      color: $white;
      display: grid;
      grid-template-columns:  1fr 8fr;
      column-gap: 2.5%;

      .pic-full-film-descr {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      .pic-full-film-descr img {
        border-radius: 20px;
      }

      .text-full-film-descr {
        display: grid;
        grid-template-rows:  2fr 4fr 45px;
        grid-column-start: 2;
        grid-column-end: 3;

        .name-film-full-decrtip {
          color: $white;
          font-weight: 600;
          font-size: 26px;

          .year-of-film {
            color: $white;
            font-size: 14px;
            font-weight: 300;
            margin-top: 4px;
          }
        }

        .film-description {
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: $white;
          font-size: 18px;
          margin-bottom: 25px;
        }

        .button-pink {
          grid-row-start: 3;
          grid-row-end: 4;
          background-color: $pink;
          border-radius: 10px;
          cursor: pointer;
          font-family: "Montserrat-Bold", "Arial", sans-serif;;
          font-style: normal;
          font-size: 20px;
          color: $white;
          padding: 8px 20px;
          max-width: 180px;
          height: 100%;
          max-height: 45px;
          justify-content: center;
          align-items: center;
        }

        .button-pink:hover {
          opacity: 1;
          transform: scale(1.1);
        }

      }
    }
  }
}

.text-full-biography {
  font-size: 16px;
  line-height: 23px;
  color: rgba(34, 34, 59, 1);
  display: flex;
  text-align: justify;
  letter-spacing: 0.8px;
}

.scroll-to {
  text-decoration: none;
}

.slider-film-card__item {
  position: absolute;
  top: 40%;
  color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.24s ease-in-out;
  //visibility: hidden;

  &-left {
    margin-left: 8px;
  }

  &-right {
    right: 0;
    margin-right: 8px;
  }

  &:hover {
    transform: scale(1.2);
  }
}



