@import '../../css/consts.scss';

.actor {
  margin-top: $header_indentation;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.films-with-description {
  margin-top: $block_indentation;

  &__container {
    position: relative;
    display: grid;
    row-gap: 30px;
  }
}

.actor-biography {
  margin-top: $block_indentation;
  margin-bottom: 50px;

  &__text {
    color: $grey-background;
    display: flex;
    letter-spacing: 0.8px;
  }
}

