footer#footer
    span.copyright © 2021, FILM4U 18+
    #social
        a.social-btn(href='')
            include /static/pics/vk.svg
        a.social-btn(href='')
            include /static/pics/inst.svg
        .social-btn#inst-hrefs
            a(href='') @samoylov.a
            a(href='') @qent111
            a(href='') @mar.nv
            a(href='') @ksabirius
    .copyright
