footer#footer
    span#copyright © 2021, FILM4U 18+
    #social
        .social-btn
            include /static/pics/vk.svg
        .social-btn
            include /static/pics/inst.svg
        .social-btn
            a(href='') @samoylov.a
            a(href='') @qent111
            a(href='') @mar.nv
            a(href='') @ksabirius
