footer.footer
    span.copyright © 2021, FILM4U 18+
    .social
        a.social-btn(href='//vk.com')
            img.logo(src='static/pics/vk.svg')
        a.social-btn(href='//instagram.com')
            img.logo(src='static/pics/inst.svg')
        .social-btn.inst-hrefs
            a(href='https://t.me/tr0llex') @tr0llex
            a(href='https://t.me/maksongold') @maksongold
            a(href='https://t.me/fillinmar') @fillinmar
            a(href='https://t.me/ksarbiruis') @ksarbiruis
    .copyright
