footer.footer
    span.footer__copyright © 2021, FILM4U 18+
    .footer__social
        a.footer__social-btn(href='https://vk.com')
            include ../../static/pics/vk.svg
        a.footer__social-btn(href='https://instagram.com')
            include ../../static/pics/inst.svg
        .footer__social-btn.footer__inst-hrefs
            a(href='https://t.me/tr0llex') @tr0llex
            a(href='https://t.me/maksongold') @maksongold
            a(href='https://t.me/fillinmar') @fillinmar
            a(href='https://t.me/ksarbiruis') @ksarbiruis
