.search {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  display: flex;
  visibility: visible;
  opacity: 1;
  justify-content: end;
  align-items: center;
  flex: 1 0;
  padding: 0 15px;
  width: 30%;

  &__input {
    color: $dark-blue-text;
    font-family: "Montserrat-Regular", sans-serif;
    border-radius: 20px;
    width: 100%;
    border: 0;
    padding: 6px 15px;
    outline: none;
    transition-property: visibility, opacity;
    transition-duration: 2s, 0.4s;
    transition-delay: 0s;
  }

  &__btn {
    cursor: pointer;
  }
}

@media (max-width: 1016px) {
  .search {
    width: 60%;
  }
}

@media (max-width: 450px) {
  .search__input {
    visibility:hidden;
    opacity: 0;
  }

  .search {
    padding: 0 8px;
  }
}
