$white: #F2F2F2;
$black: #000000;
$pink: #E10856;
$purple-button:#73324A;
$purple-text:#240B36;
$dark-blue-text:#22223B;
$gray-footer: #5F5E5E;
$gray-menu: #716E6E;
$purple-button: #73324A;
$purple-text: #240B36;
$green-border: #55CA5B;
$red-border: #D13330;
$dark-blue: #22223b;
$grey:#525252;
$red:#D13330;
$grey-base: #1F1F1F;
$grey-shadow: #FFFFFF3F;
$grey-background: #2E2532;
$light-grey: #433649;
$grey-inputs: rgba(196, 196, 196, 0.3);
$light-green: rgba(85, 202, 91, 0.5);
$vinous: rgba(209, 51, 48, 0.3);

$block_indentation: 40px;
$header_indentation: 30px;
$footer_indentation: 50px;

$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;

$notebookSize: 1025px;
$horizontalPadSize: 992px;
$padSize: 770px;
$phoneSize: 480px;
