$white: #F2F2F2;
$grey-background: #2e2532;
$black: #000000;
$pink: #E10856;
$light-grey: #bbb8b6;
$grey-base: #1f1f1f;
$grey-shadow: #ffffff3f;
$purple-button: #73324A;
$purple-text: #240B36;
$green-border: #55CA5B;
$red-border: #D13330;
$dark-blue: #22223b;
$grey:#525252;
