$white: #F2F2F2;
$black: #000000;
$pink: #E10856;
$light-grey: #BBB8B6;
$grey-base: #1F1F1F;
$grey-shadow: #FFFFFF3F;
$purple-button: #73324A;
$grey-background: #2E2532;
$light-grey: #433649;

$block_indentation: 40px;
