@import './consts';

body {
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

._container {
	max-width: $maxWidth + px;
	margin: 0 auto;
	@media (max-width: $notebookSize) {
		max-width: 750px;
	}
	@media (max-width: $horizontalPadSize) {
		max-width: none;
		padding: 0 32px;
	}
	@media (max-width: $padSize) {
		padding: 0 16px;
	}
}

.black-container {
	background-color: $grey-background;
	border-radius: 20px;
	color: $white;
	padding: 30px;
	@media (max-width: $padSize) {
		padding: 16px;
	}
}

.page {
	margin: 20px 0 50px 0;
	flex: 1 1 auto;
	@media (max-width: $padSize) {
		padding: 10px 0 20px 0;
	}
}
