@import 'consts';

.title {
	font-family: "Montserrat-Bold", "Arial", sans-serif;;
	font-size: 40px;
	margin: 0 0 0.21em;

	@media (max-width: $md3+px) {
		font-size: 30px;
	}
}

.block-subtitle {
	font-family: "Montserrat-Bold", "Arial", sans-serif;
	font-size: 30px;
	margin-bottom: 20px;

	@media (max-width: $md3+px) {
		font-size: 20px;
	}
}

.text {
}

.title-posts {
	font-size: 22px;
	@media (max-width: $md3+px) {
		text-align: center;
		font-size: 18px;
	}
}

._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.description {
	margin-bottom: 20px;
}

.actor__info{
	display: flex;
}

.info {
	column-gap: 5%;
	@media (min-width: $md3+px) {
		display: flex;
	}

	&__pic {
		position:relative;

		& img {
			object-fit: cover;
			width: 300px;
			height: 100%;
			border-radius: 8px;
			@media (max-width: $md3+px) {
				width: 120px;
				height: initial;
			}
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			gap: 15px;
			justify-content: normal;
		}
	}

	&__main {
		display: flex;
		gap: 20px;
		@media (max-width: $md3+px) {
			display: block;
		}
	}

	&__rus-name {
		font-family: "Montserrat-Black", "Arial", sans-serif;
		font-size: 40px;
		margin-bottom: 5px;
		@media (max-width: $md2+px) {
			font-size: 32px;
		}
		@media (max-width: $md3+px) {
			font-size: 28px;
			line-height: 30px;
			margin-bottom: 3px;
		}
	}

	&__en-name {
		font-size: 16px;
		@media (max-width: $md3+px) {
			font-size: 13px;
			line-height: 18px;
		}
	}

	&__heading-facts {
		font-weight: 700;
		font-size: 26px;
		margin-bottom: 5px;
		@media (max-width: $md3+px) {
			display:none;
		}
	}

	&__facts-container {
		row-gap: 5px;
		display: flex;
		flex-direction: column;
		@media (max-width: $md3+px) {
			display: block;
		}
	}

	&__name {
		grid-row-start: 1;
		grid-row-end: 2;
	}
}

.fact {
	display: grid;
	row-gap: 5px;
	gap: 10px;
	grid-template-columns: 2fr 5fr;
	@media (max-width: $md3+px) {
		gap: 3px;
		display: block;
	}

	&__key {
		@media (max-width: $md3+px) {
			display:none;
		}
	}

	&__value {
		font-weight: 400;
		font-style: normal;
		@media (max-width: $md3+px) {
			font-size: 13px;
			line-height: 20px;
			color: $gray-menu;
		}
		&_dop{
			@media (max-width: $md3+px) {
				display:none;
			}
		}
	}
}

.poster{
	flex: 0 0 140px;
	display: block;
	border-radius: 6px;
	min-height: 210px;
	overflow: hidden;
	@media (max-width: $md3+px) {
		min-height: 0;
		margin-bottom: 17px;
		padding: 150% 0 0 0;
	}
}

.block{
	margin-bottom: $block_indentation;
	@media (max-width: $md3+px) {
		margin-bottom: 16px;
	}
}
