.review-block {
  display: flex;
  width: 48%;
  margin: 7px;
  min-height: 162px;
  padding: 8px;
  background-color: rgba(36, 11, 54, 0.04);
  border-radius: 20px;
  overflow: hidden;

  &__image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 0 10px;
  }

  &__data-block {
    display: flex;
    flex-direction: column;
  }

  &__image-block {
    height: 100%;
    min-width: 20%;
  }
}

.review-image-block {
  &__film-img {
    height: 80%;
    flex: 1 0 auto;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    margin: 0 10px;
    background-attachment: fixed;
  }

  &__stars-block {
    color: $purple-button;
    font-family: "Montserrat-Semi-Bold", "Arial", sans-serif;
  }
}

.review-data-block {
  &__film-name-ru {
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: inherit;
    color: $dark-blue-text;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 18px;

    &:hover {
      color: $pink;
    }
  }

  &__film-name-en {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: inherit;
    color: $dark-blue-text;
    font-size: 14px;
  }


  &__review-text {
    color:$dark-blue-text;
    font-size: 1em;
    font-family: "Montserrat-Medium", sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 15px;
    flex: 1 0 auto;
  }

  &__to-review-btn {
    width: 100px;
    height: 25px;
    font-size: 12px;
    font-family: "Montserrat-Bold", sans-serif;
    background: white;
    border: 2px solid $purple-button;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $purple-button;
  }

  &__to-review {
    text-decoration: none;
  }

  &__write-review-btn {
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-family: "Montserrat-Bold", sans-serif;
    background: white;
    border: 2px solid $purple-button;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $purple-button;
  }

  &__to-review-btn:hover, &__write-review-btn:hover {
    color: $pink;
    border-color: $pink;
    cursor: pointer;
    text-decoration: none;
  }

  &__to-review, &__write-review {
    align-self: start;
    text-decoration: none;
  }

  & q {
    quotes: '“' '”'
  }
}

@media (max-width: 1100px) {
  .review-block {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .review-block {
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    margin: 7px 0;
    padding: 0;

    &__image-block {
      width: 100%;
      margin: 0;
    }
  }

  .review-data-block {

    &__film-name-ru, &__film-name-en {
      text-align: center;
      white-space: inherit;
    }

    &__to-review, &__write-review {
      align-self: center;
      margin: 12px;
    }

    &__review-text {
      text-align: center;
    }

  }

  .review-image-block {
    &__film-img {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-repeat: no-repeat;
      background-size: auto;
      margin: 0;
    }
  }
}
//
//@media (max-width: 400px) {
//  .review-data-block__review-text {
//    white-space: nowrap;
//  }
//  .review-block {
//    max-width: 300px;
//  }
//  .review-block__image-block {
//    padding: 0;
//  }
//}

