.review-block {
  width: 570px;
  margin: 7px;
  height: 162px;
  position: relative;
  background-color: rgba(36, 11, 54, 0.1);
  border-radius: 20px;

  &__film-img {
    width: 177px;
    height: 100px;
    position: absolute;
    left: 24px;
    top: 22px;
    object-fit: cover;
    border-radius: 20px;
  }

  &__film-name-ru {
    max-width: 330px;
    text-decoration: none;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    top: 22px;
    left: 230px;
    color: $dark-blue-text;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 18px;

    &:hover {
      color: $pink;
    }
  }

  &__film-name-en {
    max-width: 330px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    color: $dark-blue-text;
    top: 49px;
    left: 230px;
    font-size: 14px;
  }

  &__stars-block {
    position: absolute;
    left: 96px;
    top: 130px;
  }

  &__review-text {
    position: absolute;
    color:$dark-blue-text;
    top: 77px;
    left: 225px;
    font-size: 16px;
    font-family: "Montserrat-Medium", sans-serif;
  }

  &__to-review-btn {
    width: 100px;
    bottom: 15px;
    right: 20px;
    position: absolute;
    height: 25px;
    font-size: 12px;
    font-family: "Montserrat-Bold", sans-serif;
    background: white;
    border: 2px solid $purple-button;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $purple-button;
  }

  &__to-review {
    text-decoration: none;
  }

  &__write-review-btn {
    width: 200px;
    bottom: 15px;
    right: 20px;
    position: absolute;
    height: 40px;
    font-size: 14px;
    font-family: "Montserrat-Bold", sans-serif;
    background: white;
    border: 2px solid $purple-button;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $purple-button;
  }

  &__to-review-btn:hover, &__write-review-btn:hover {
    color: $pink;
    border-color: $pink;
    cursor: pointer;
  }

  & q {
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    quotes: '“' '”'
  }
}
