block header
    include ../../components/header/header
//
//div.header
//    block header

div.loader
    block loader

div.content
    block content

div.footer
    include ../../components/footer/footer

