.carousel-random
    figure.carousel-random__card-container
        each card in cardList
          .carousel-random__card
              a(href=card.filmHref)
                img(src=card.imgSrc)
    .carousel-random__btn-container
        button.carousel-random__prev-btn Назад
        button.carousel-random__next-btn Вперед
