.carousel-random
    figure.carousel-random__card-container
        each card in cardList
          .carousel-random__card
              a(href=`/films/${card.id}`)
                img(src=card.poster_url)
