@import 'components/header/navbar.scss';
@import 'components/header/search.scss';
@import 'components/header/user.scss';
@import 'components/footer/footer.scss';
@import 'components/auth/auth.scss';
@import 'components/collections/collections.scss';
@import 'components/loader/loader.scss';
@import 'css/consts.scss';
@import 'components/actor/actor.scss';

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('static/fonts/Montserrat-Regular.woff2') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('static/fonts/Montserrat-Bold.woff2') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('static/fonts/Montserrat-Black.woff2') format('truetype');
}

html, body {
  font-family: 'Montserrat-Regular', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $white;
}

body {
  overflow-y: scroll;
}

.content {
  display: flex;
  flex: 1 0 auto;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}




