.navbar {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  width: 100%;
  min-width: 1000px;
  flex: 0 0 65px;
  background-color: black;
  display: flex;
  align-items: center; }

.logo {
  max-height: 45px;
  margin-left: 7%;
  cursor: pointer; }

.wide-menu {
  display: inherit;
  font-size: 20px;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  width: 573px;
  min-width: 360px; }

.menu-btn {
  text-decoration: none;
  cursor: default;
  color: gray;
  fill: gray;
  stroke: gray;
  transition: .5s ease-in-out; }

.active-btn > svg > g > path {
  text-decoration: none;
  cursor: default;
  color: #E10856;
  fill: #E10856;
  stroke: #E10856; }

.active-btn {
  text-decoration: none;
  cursor: default;
  color: #E10856; }

.user-name {
  color: white;
  margin-right: 20px; }

.menu-btn:hover {
  cursor: pointer;
  color: #E10856; }

.menu-btn > svg > g > path {
  transition: .5s ease-in-out; }

.menu-btn:hover > svg > g > path {
  fill: #E10856;
  stroke: #E10856; }

.search-div {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 15px;
  width: 30%; }

.search-input {
  border-radius: 20px;
  width: 100%;
  visibility: hidden;
  min-width: 124px;
  height: 20px;
  border: 0;
  padding: 5px 15px;
  outline: none;
  text-align: center; }

.search-btn {
  cursor: pointer;
  visibility: hidden; }

.login-btn, .logout-btn {
  text-decoration: none;
  color: #E10856;
  font-size: 24px;
  margin-right: 7%;
  transition: .5s ease-in-out; }

.login-btn:hover, .logout-btn:hover {
  cursor: pointer;
  transform: scale(1.1); }

.user-pic {
  width: 15px;
  height: 15px;
  border-radius: 10px; }

.footer {
  background-color: #0C0C0C;
  flex: 0 0 125px;
  display: flex; }

.copyright {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  flex: 0 0 200px;
  color: #5F5E5E;
  align-self: flex-end;
  padding-bottom: 20px;
  padding-left: 20px; }

.social {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #525252;
  font-size: 15px; }

.inst-hrefs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 20px; }

.inst-hrefs a {
  text-decoration: none;
  color: currentcolor;
  padding: 3px; }

.social-btn {
  padding: 20px; }

.social-btn path {
  transition: .5s ease-in-out; }

.social-btn:hover path {
  fill: white; }

.auth-content {
  background: url("./static/pics/bg_auth.jpg") center;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; }

@keyframes errorField {
  from {
    background-color: white; }
  50% {
    background-color: #E10856; }
  to {
    background-color: white; } }

.auth, .reg {
  border-radius: 20px;
  background-color: #FFFFFF9A;
  color: #240B36;
  display: flex;
  flex-direction: column; }

.reg {
  min-height: 400px;
  height: 75%;
  width: 412px; }

.auth {
  min-height: 280px;
  height: 45%;
  width: 412px; }

.auth-form {
  margin-top: 15px;
  flex: 1 0 auto;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.auth-head {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #FFFFFF9A;
  height: 63px; }

.text-inputs {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  padding-left: 15px;
  flex: 1 0 auto;
  border-radius: 10px;
  width: 290px;
  height: 36px;
  outline: none;
  border: 0; }

.auth-btn {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #E10856;
  color: white;
  height: 40px;
  outline: none;
  border: 0;
  cursor: pointer;
  width: 221px; }

.auth-a {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  text-decoration: underline;
  color: currentcolor;
  cursor: pointer;
  margin: 0 auto 25px auto; }

.error {
  border: 2px solid #E10856 !important; }

.animated {
  animation: errorField  0.3s 1 ease-in-out; }

.error-text {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 13px;
  color: #240B36; }

.collections-main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12%;
  margin-left: 12%; }

.heading {
  margin-bottom: 0;
  color: #000000;
  display: flex;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 40px;
  margin-top: 25px; }

.detailed-collection {
  margin-top: 10px;
  margin-bottom: 25px;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #2e2532;
  display: flex;
  position: relative; }

.background {
  background-color: #2e2532;
  border-radius: 20px;
  padding: 3% 3% 0.9% 3%;
  margin-bottom: 25px;
  width: 94%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  display: grid;
  gap: 10px; }

.container {
  margin-bottom: 1.875%;
  display: flex;
  align-items: flex-start;
  column-gap: 2%; }

.collection {
  transition: .3s ease-in-out;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-start;
  width: 32.19%; }

.pic_container {
  position: relative;
  padding-bottom: 64%;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
  object-fit: cover;
  background-size: cover; }

.pic_container img {
  align-self: stretch;
  margin-bottom: 10px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.collection:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1); }

.name-of-collection {
  font-family: "Montserrat-Semi-Bold", "Arial", sans-serif;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
  display: flex; }

.mask {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 65px;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center; }

.loader {
  margin: auto;
  width: 75px;
  height: 75px;
  border: 10px solid #E10856;
  border-radius: 50%;
  border-left-color: #ffffff3f;
  animation: loader 1.3s linear infinite; }

@keyframes loader {
  100% {
    transform: rotate(360deg); } }

.hide {
  opacity: 0; }

.actor-main {
  margin-top: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12%;
  margin-left: 12%; }

.actor-info-container {
  display: flex;
  align-items: flex-start; }

.pic_actor img {
  width: 367px;
  height: 508px;
  border-radius: 20px; }

.pic_actor {
  margin-right: 102px; }

.actor-text {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.actor-name-rus {
  margin-top: 0px;
  height: 38px;
  width: 619px;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 900;
  line-height: normal;
  color: #000000;
  display: flex;
  margin-bottom: 15px; }

.actor-name-en {
  margin-top: 0px;
  height: 25px;
  width: 197px;
  font-family: "Montserrat-Black", "Arial", sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #000000;
  display: flex;
  margin-bottom: 30px; }

.actor-title-facts {
  height: 23px;
  width: 605px;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  color: #000000;
  display: flex;
  margin-bottom: 15px; }

.actor-facts-container {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  column-gap: 2%; }

.actor-value-facts {
  font-family: "Montserrat-Semi-Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #000000; }

.button-show-more {
  border-radius: 10px;
  border: 2px solid #73324A;
  cursor: pointer;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  display: flex;
  padding: 8px 16px;
  color: #73324A;
  margin-bottom: 0px; }

.button-show-more:hover {
  color: #E10856;
  border: 2px solid #E10856; }

.film-collection {
  padding: 250.11px 20.19px 28.86px 0; }

.pic-film-container {
  position: relative;
  padding-bottom: 64%;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
  object-fit: cover;
  background-size: cover;
  /*padding: 250.11px 20.19px 28.86px 0;*/ }

.name-of-film-in-container {
  height: 100%;
  width: 100%;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
  display: flex; }

.actor-key-facts {
  width: 200px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #000000;
  display: flex;
  margin-right: 37px; }

.actor-film-played {
  background-color: #2e2532;
  margin-bottom: 40px;
  border-radius: 20px;
  padding: 37.85px 37px 45px 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.name-of-topic {
  height: 2.6%;
  width: 61.27%;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  color: #000000;
  display: flex;
  margin-bottom: 29.01px; }

.actor-film-container {
  /*display: flex;*/
  /*align-items: center;*/
  /*position: relative;*/
  margin-bottom: 1.875%;
  display: flex;
  align-items: flex-start;
  column-gap: 2%; }

.actor-full-biography {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.text-full-biography {
  height: 121px;
  width: 1171px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #22223b;
  display: flex;
  text-align: justify;
  position: relative;
  letter-spacing: 0.8px; }

#button-pink {
  background-color: var(--pink);
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white); }

#button-pink:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1); }

#button-show-more {
  cursor: pointer;
  height: 46px;
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.25));
  background: var(--grey-base);
  border-radius: 10px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  color: var(--white); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../public/static/fonts/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Black';
  src: url("../public/static/fonts/Montserrat-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../public/static/fonts/Montserrat-Bold.ttf") format("truetype"); }

html, body {
  font-family: 'Montserrat-Regular', sans-serif;
  margin: 0;
  padding: 0; }

.content {
  display: flex;
  height: inherit; }

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative; }
