@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./static/fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./static/fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
    font-family: "Montserrat-Regular", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

:root {
    --white: #ffffff;
    --grey-background: #2e2532;
    --black: #000000;
    --pink: #E10856;
    --light-grey: #bbb8b6;
    --grey-botton: #433649;
    --grey-shadow: #ffffff3f;
}
