@import 'components/header/header.scss';
@import 'components/footer/footer.scss';
@import './components/auth/auth.scss';
@import 'components/collections/collections.scss';
@import 'components/loader/loader.scss';
@import 'components/actor/actor.scss';
@import 'components/slider/slider.scss';
@import 'components/filmCard/filmdCard.scss';
@import 'components/pinkButton/pinkButton.scss';
@import 'components/buttonWithBorder/buttonWithBorder';
@import 'components/buttonShowMore/buttonShowMore.scss';
@import 'components/film/film.scss';
@import 'components/reviewSlider/reviewSlider.scss';
@import 'components/writeReview/writeReview.scss';
@import 'components/review/review.scss';

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('static/fonts/Montserrat-Regular.woff2') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('static/fonts/Montserrat-Bold.woff2') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('static/fonts/Montserrat-Black.woff2') format('truetype');
}

html, body {
  font-family: 'Montserrat-Regular', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $white;
}

body {
  overflow-y: scroll;
}

.content {
  display: flex;
  flex: 1 0 auto;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.place-between-blocks {
  margin-bottom: 40px;
}

.name-of-topic {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.hidden{
  display: none;
}

.scroll-to {
  text-decoration: none;
}

.change-color-text-href:hover{
  color: $pink;
}

.change-color-text-href{
  text-decoration: none;
  color: $black;
}

.color-text-pink {
  color: $pink;
}

