.navbar {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  width: 100%;
  min-width: 1000px;
  flex: 0 0 65px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center; }

.logo {
  max-height: 45px;
  margin-left: 7%;
  cursor: pointer; }

.wide-menu {
  display: inherit;
  font-size: 20px;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  width: 573px;
  min-width: 360px; }

.menu-btn {
  text-decoration: none;
  cursor: default;
  color: gray;
  fill: gray;
  stroke: gray;
  transition: .2s ease-in-out; }

.active-btn > svg > g > path {
  text-decoration: none;
  cursor: default;
  color: #E10856;
  fill: #E10856;
  stroke: #E10856; }

.active-btn {
  text-decoration: none;
  cursor: default;
  color: #E10856; }

.user-name {
  color: white;
  margin-right: 20px; }

.menu-btn:hover {
  cursor: pointer;
  color: #E10856; }

.menu-btn > svg > g > path {
  transition: .5s ease-in-out; }

.menu-btn:hover > svg > g > path {
  fill: #E10856;
  stroke: #E10856; }

.search-div {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 15px;
  width: 30%; }

.search-input {
  border-radius: 20px;
  width: 100%;
  visibility: hidden;
  min-width: 124px;
  height: 20px;
  border: 0;
  padding: 5px 15px;
  outline: none;
  text-align: center; }

.search-btn {
  cursor: pointer;
  visibility: hidden; }

.login-btn, .logout-btn {
  text-decoration: none;
  color: #E10856;
  font-size: 24px;
  margin-right: 7%;
  transition: .5s ease-in-out; }

.login-btn:hover, .logout-btn:hover {
  cursor: pointer;
  transform: scale(1.1); }

.user-pic {
  width: 15px;
  height: 15px;
  border-radius: 10px; }

.footer {
  background-color: #1f1f1f;
  flex: 0 0 125px;
  display: flex;
  margin-top: 50px; }

.copyright {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  flex: 0 0 200px;
  color: #5F5E5E;
  align-self: flex-end;
  padding-bottom: 20px;
  padding-left: 20px; }

.social {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #525252;
  font-size: 15px; }

.inst-hrefs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 20px; }

.inst-hrefs a {
  text-decoration: none;
  color: currentcolor;
  padding: 3px; }

.social-btn {
  padding: 20px; }

.social-btn path {
  transition: .5s ease-in-out; }

.social-btn:hover path {
  fill: white; }

.auth-content {
  background: url("./static/pics/bg_auth.jpg") center;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; }

@keyframes errorField {
  from {
    background-color: white; }
  50% {
    background-color: #E10856; }
  to {
    background-color: white; } }

.auth, .reg {
  border-radius: 20px;
  background-color: #FFFFFF9A;
  color: #240B36;
  display: flex;
  flex-direction: column; }

.reg {
  min-height: 400px;
  height: 75%;
  width: 412px; }

.auth {
  min-height: 280px;
  height: 45%;
  width: 412px; }

.auth-form {
  margin-top: 15px;
  flex: 1 0 auto;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.auth-head {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #FFFFFF9A;
  height: 63px; }

.text-inputs {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  padding-left: 15px;
  flex: 1 0 auto;
  border-radius: 10px;
  width: 290px;
  height: 36px;
  outline: none;
  border: 0; }

.auth-btn {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #E10856;
  color: white;
  height: 40px;
  outline: none;
  border: 0;
  cursor: pointer;
  width: 221px; }

.auth-a {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  text-decoration: underline;
  color: currentcolor;
  cursor: pointer;
  margin: 0 auto 25px auto; }

.error {
  border: 2px solid #E10856 !important; }

.animated {
  animation: errorField  0.3s 1 ease-in-out; }

.error-text {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 13px;
  color: #240B36; }

.collections-main {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12%;
  margin-left: 12%; }

.heading {
  margin-bottom: 0;
  color: #000000;
  display: flex;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 40px;
  margin-top: 25px; }

.detailed-collection {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: normal;
  color: #2e2532;
  display: flex;
  position: relative; }

.background {
  background-color: #2e2532;
  border-radius: 20px;
  padding: 3% 3% 0.9% 3%;
  width: 94%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  display: grid;
  gap: 10px; }

.container {
  margin-bottom: 1.875%;
  display: flex;
  align-items: flex-start;
  column-gap: 2%; }

.collection {
  transition: .3s ease-in-out;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-start;
  width: 32.19%; }

.pic_container {
  position: relative;
  padding-bottom: 64%;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
  object-fit: cover;
  background-size: cover; }

.pic_container img {
  align-self: stretch;
  margin-bottom: 10px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.collection:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1); }

.name-of-collection {
  font-weight: 600;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: normal;
  color: #F2F2F2;
  display: flex; }

.mask {
  width: 100%;
  height: 100%;
  background: #F2F2F2;
  position: fixed;
  top: 65px;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center; }

.loader {
  margin: auto;
  width: 75px;
  height: 75px;
  border: 10px solid #E10856;
  border-radius: 50%;
  border-left-color: #ffffff3f;
  animation: loader 1.3s linear infinite; }

@keyframes loader {
  100% {
    transform: rotate(360deg); } }

.hide {
  opacity: 0; }

.place-between-blocks {
  margin-bottom: 40px; }

.actor-info__background {
  background-color: #2e2532;
  border-radius: 20px;
  padding: 3% 3% 3% 3%;
  width: 94%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  display: grid;
  color: #F2F2F2; }

.content__actor-info {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12%;
  margin-left: 12%; }
  .content__actor-info .actor-info__container {
    display: flex;
    align-items: flex-start;
    column-gap: 102px;
    flex-direction: row; }
    .content__actor-info .actor-info__container .container__pic-actor {
      width: 360px;
      height: 508px; }
      .content__actor-info .actor-info__container .container__pic-actor .container__pic-actor_src {
        position: relative;
        padding-bottom: 508px;
        height: 0;
        overflow: hidden;
        object-fit: cover;
        background-size: cover; }
      .content__actor-info .actor-info__container .container__pic-actor .container__pic-actor_src img {
        align-self: stretch;
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .content__actor-info .actor-info__container .actor-info__text {
      position: relative;
      height: 508px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .content__actor-info .actor-info__container .actor-info__text .text__name-rus {
        font-family: "Montserrat-Black", "Arial", sans-serif;
        margin-top: 5px;
        font-size: 40px;
        line-height: normal;
        color: #000000;
        display: flex;
        margin-bottom: 12px; }
      .content__actor-info .actor-info__container .actor-info__text .text__name-en {
        margin-top: 0px;
        width: 197px;
        font-size: 16px;
        line-height: normal;
        color: #000000;
        display: flex;
        margin-bottom: 30px; }
      .content__actor-info .actor-info__container .actor-info__text .text__title-facts {
        font-weight: 700;
        font-size: 26px;
        line-height: normal;
        color: #000000;
        margin-bottom: 15px;
        margin-top: 0px; }
      .content__actor-info .actor-info__container .actor-info__text .title-facts__container {
        margin-bottom: 14px;
        display: flex;
        align-items: flex-start;
        column-gap: 2%; }
        .content__actor-info .actor-info__container .actor-info__text .title-facts__container .title-facts__container_key {
          width: 250px;
          font-size: 20px;
          line-height: normal;
          color: #000000;
          display: flex; }
        .content__actor-info .actor-info__container .actor-info__text .title-facts__container .title-facts__container_value {
          font-weight: 600;
          font-size: 20px;
          line-height: normal;
          color: #000000;
          width: 605px;
          display: flex; }
      .content__actor-info .actor-info__container .actor-info__text .button-show-more {
        display: inline-block;
        position: absolute;
        bottom: 0;
        border-radius: 10px;
        border: 4px solid #73324A;
        cursor: pointer;
        font-family: "Montserrat-Bold", "Arial", sans-serif;
        font-style: normal;
        font-size: 20px;
        padding: 10px 20px;
        color: #73324A; }
      .content__actor-info .actor-info__container .actor-info__text .button-show-more:hover {
        color: #E10856;
        border: 4px solid #E10856; }
  .content__actor-info .name-of-topic {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 30px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 0px; }
  .content__actor-info .film-container__carousel {
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    column-gap: 2%; }
    .content__actor-info .film-container__carousel .carousel_film-collection {
      position: relative;
      height: 100%;
      cursor: pointer;
      flex-direction: column;
      align-items: flex-start;
      width: 32.19%; }
    .content__actor-info .film-container__carousel .film-collection_pic {
      position: relative;
      padding-bottom: 146%;
      height: 0;
      overflow: hidden;
      margin-bottom: 10px;
      object-fit: cover;
      background-size: cover; }
    .content__actor-info .film-container__carousel .film-collection_pic img {
      align-self: stretch;
      margin-bottom: 10px;
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .content__actor-info .film-container__carousel .carousel_film_name {
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      color: #F2F2F2; }
  .content__actor-info .actor-film__back {
    gap: 30px;
    position: relative;
    display: grid; }
    .content__actor-info .actor-film__back .actor-film__background {
      background: linear-gradient(104deg, #2e2532 0%, #433649 100%);
      border-radius: 10px;
      padding: 2% 2% 2% 2%;
      box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.25);
      position: relative;
      color: #F2F2F2;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      grid-auto-rows: 1fr;
      gap: 30px; }
      .content__actor-info .actor-film__back .actor-film__background .pic-full-film-descr {
        position: relative;
        padding-right: 13%;
        padding-bottom: 18%;
        height: 0;
        overflow: hidden;
        object-fit: cover;
        background-size: cover; }
      .content__actor-info .actor-film__back .actor-film__background .pic-full-film-descr img {
        align-self: stretch;
        margin-bottom: 10px;
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .content__actor-info .actor-film__back .actor-film__background .text-full-film-descr {
        position: relative;
        height: 18%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #F2F2F2; }
        .content__actor-info .actor-film__back .actor-film__background .text-full-film-descr .name-film-full-decrtip {
          color: #F2F2F2;
          font-weight: 600;
          font-size: 26px;
          margin-bottom: 10px;
          display: flex; }
        .content__actor-info .actor-film__back .actor-film__background .text-full-film-descr .year-of-film {
          color: #F2F2F2;
          font-size: 12px;
          font-weight: 300;
          display: flex;
          margin-bottom: 16px; }
        .content__actor-info .actor-film__back .actor-film__background .text-full-film-descr .film-description {
          color: #F2F2F2;
          font-size: 16px;
          width: 605px;
          align-self: stretch;
          display: flex;
          margin-bottom: 23px; }
        .content__actor-info .actor-film__back .actor-film__background .text-full-film-descr .button-pink {
          display: inline-block;
          background-color: #E10856;
          bottom: 0;
          border-radius: 10px;
          cursor: pointer;
          font-family: "Montserrat-Bold", "Arial", sans-serif;
          font-style: normal;
          font-size: 20px;
          padding: 8px 16px;
          color: #F2F2F2; }
        .content__actor-info .actor-film__back .actor-film__background .text-full-film-descr .button-pink:hover {
          position: relative;
          opacity: 1;
          transform: scale(1.1); }

.text-full-biography {
  font-size: 16px;
  line-height: 23px;
  color: #22223b;
  display: flex;
  text-align: justify;
  letter-spacing: 0.8px; }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("static/fonts/Montserrat-Regular.woff2") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("static/fonts/Montserrat-Bold.woff2") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Black';
  src: url("static/fonts/Montserrat-Black.woff2") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Black';
  src: url("../public/static/fonts/Montserrat-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../public/static/fonts/Montserrat-Bold.ttf") format("truetype"); }

html, body {
  font-family: 'Montserrat-Regular', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2; }

body {
  overflow-y: scroll; }

.content {
  display: flex;
  height: inherit; }

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative; }
