@import '../../css/consts.scss';

.home {
  &__container {
    max-width: $maxWidth + px;
    margin: 0 auto;
    @media (max-width: $notebookSize) {
      max-width: 750px;
    }
    @media (max-width: $horizontalPadSize) {
      max-width: none;
      padding: 0 0 0 32px;
    }
    @media (max-width: $padSize) {
      padding: 0 0 0 16px;
    }
  }
}
