include ../mainSlider/mainSlider
include ../slider/slider
include ../genreSlider/genreSlider
include ../collectionsSlider/collectionsSlider
div.wrapper
    main.page
        div(class = "block")
            +mainSlider(collections)
        div(class = "home__container")
            ul.subtitle__list
                li(class = "subtitle_chosen subtitle_default popularFilms") Популярное
                div.subtitle_slash /
                li(class = "subtitle_default premiereLi") Скоро на экранах
            div.liSlider
                +slider(popularFilms)
            div(class= "home-subtitle") Фильмы по жанрам
            +genreSlider(genres)
            div(class= "home-subtitle") Подборки
            +collectionsSlider(collections)
