@import '../../css/consts';

.write_review {
  margin-top: 20px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(34, 34, 59, 1);

  &__button-type {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    border: 0;
    background-color: rgba(196, 196, 196, 0.4);
    border-radius: 10px;
    padding: 20px;
    min-height: 100px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    color: $black;
  }
}

.type-positive {
  border: 2px solid $green-border;
}
.positive-chosen {
  background-color:rgba(85, 202, 91, 0.5);
}

.type-neutral {
  border: 2px solid $grey-base;
}
.neutral-chosen {
  background-color:rgba(82, 82, 82, 0.5);
}

.type-negative {
  border: 2px solid $red-border;
}
.negative-chosen {
  background-color:rgba(209, 51, 48, 0.5);
}

.button-type {
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 16px;
  padding: 8px 20px;
  height: 40px;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.review_button {
  border: 0;
  background-color: $pink;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 16px;
  color: $white;
  width: 480px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.review_button:hover {
  opacity: 1;
  transform: scale(1.1);
}
