div.write_review
    div.write_review__button-type
        button(type="button" class="button-type positive") Положительный
        button(type="button" class="button-type neutral") Нейтральный
        button(type="button" class="button-type negative") Отрицательный
    textarea(
        name="text"
        placeholder= "Текст"
        class=' write_review__text '
    )
    div.write_review__button-type
        button(type="button" class="review_button") Опубликовать отзыв
        button(type="button" class="review_button") Очистить отзыв

