.settings-form {
  display: flex;
  min-height: 380px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  & input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
  }

  &__inputs {
    font-family: "Montserrat-Regular", "Arial", sans-serif;
    padding-left: 15px;
    flex: 0 0 auto;
    border-radius: 10px;
    width: 310px;
    height: 36px;
    font-size: 18px;
    outline: none;
    border: 0;
    background-color: $grey-inputs;
  }

  &__labels {
    color: $dark-blue-text;
    text-align: center;
    font-size: 18px;
  }

  &__avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 100px;
    margin-top: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 18px;
    border-radius: 15px;
    background-color: $pink;
    color: white;
    margin: 10px auto 25px;
    height: 40px;
    outline:none;
    border: 0;
    cursor: pointer;
    width: 280px;

    &:hover {
      transform: scale(0.95);
    }
  }
}

