.settings-form {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  &__inputs {
    font-family: "Montserrat-Regular", "Arial", sans-serif;
    padding-left: 15px;
    flex: 0 0 auto;
    border-radius: 10px;
    width: 310px;
    height: 36px;
    font-size: 18px;
    outline: none;
    border: 0;
    background-color: lightgray;
  }

  &__btn {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 18px;
    border-radius: 15px;
    background-color: $pink;
    color: white;
    margin: 10px auto;
    height: 40px;
    outline:none;
    border: 0;
    cursor: pointer;
    width: 280px;

    &:hover {
      transform: scale(0.95);
    }
  }
}

