@import '../../css/consts.scss';

.collections {

  &__container {
    display: grid;
    row-gap: 30px;
    column-gap: 20px;
    @media (max-width: $md3+px) {
      column-gap: 12px;
      row-gap: 12px;
    }

    &_column-number {
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: $md3+px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &_genres-column-number {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
