include ../collection/collection
div.collections-main
    div.collections-main_heading Подборки
    div.collections-main_detailed Коллекции фильмов и сериалов на все случаи: топ фильмов различных жанров и стран, самые кассовые кинофраншизы, культовые сериалы, кинокомиксы, сборники работ известных актёров и режиссёров, фестивально екино и многое другое
    div.collections-main_black-background
        div.collections-main_black-background_container
          each input, _ in collections
              +collection(input)
