include ../collection/collection
div.collections
    div.page-title Подборки
    div.collections__detailed Коллекции фильмов и сериалов нFа все случаи: топ фильмов различных жанров и стран, самые кассовые кинофраншизы, культовые сериалы, кинокомиксы, сборники работ известных актёров и режиссёров, фестивально екино и многое другое
    div.collections__black-background
        div(class = "collections__container collections__container_column-number")
          each input, _ in collections
              +collection(input)
