mixin slider(i, color)
    div.slider#film-slider
        div.slider-list
            div(class ="slider-track")
              each input, _ in i
                  div(class ="film-slider__item slide")
                    div.film-slider__indent
                        a.film-slider__link(href=`${input.href}`)
                            div.film-slider__poster
                                img(src= input.filmAvatar)
                            if (color==="white")
                                div(class = "slider-container__track_film_name white_text")  #{input.title}
                            else
                                div.film-slider__name  #{input.title}
        div.slider-arrows
            div(class="prev slider__button slider__button_left")
            div(class="next slider__button slider__button_right")
