mixin slider(i)
    div.actor-info__black-container_wrapper
        div.slider-container
            div.slider-container__track
              each input, _ in i
                  a(class='slider-container__track_film' href=`${input.href}`)
                    img(src= input.filmAvatar)
                    div.slider-container__track_film_name #{input.title}
            img(class="slider-container_button  slider-container_button-left " src= "../../static/pics/left_arrow.webp" alt= "")
            img(class="slider-container_button  slider-container_button-right " src="../../static/pics/right_arrow.webp" alt= "")

