mixin slider(i)
    div.actor-info__black-container_wrapper
        div.slider-container
            div.slider-container__track
              each input, _ in i
                  div.slider-container__track_film
                    div.slider-container__track_film_indent
                        a.slider-container__track_film_indent_link(href=`${input.href}`)
                            div.slider-container__track_film_wrapper
                                img(src= input.filmAvatar)
                            div.slider-container__track_film_name #{input.title}
            img(class="slider-container_button  slider-container_button-left " src= "pics/left_arrow.svg" alt= "")
            img(class="slider-container_button  slider-container_button-right " src="pics/right_arrow.svg" alt= "")
