@import '../../css/consts';

.film {
  &__items {
    display: grid;
    row-gap: 30px;
    @media (max-width: $md3+px) {
      row-gap: 15px;
    }
  }

  &__item {
    background: linear-gradient(
                    104deg,
                    $grey-background 0%,
                    $light-grey 100%
    );
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 4px 0 $grey-shadow;
    color: $white;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $md3+px) {
      display: flex;
      align-items: stretch;
    }
    @media (max-width: $md3+px) {
      padding: 16px;
    }
  }

  &__info {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
    @media (min-width: $md3+px) {
      padding: 0 30px 0 20px;
    }
  }

  &__name {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    transition: color 0.3s ease 0s;

    &:hover {
      color: $pink;
    }

    @media (max-width: $md3+px) {
      font-size: 24px;
    }
  }

  &__year {
    font-size: 13px;
    font-family: 'Montserrat-Light', "Arial", sans-serif;;
    margin-bottom: 15px;
    @media (max-width: $md3+px) {
      margin-bottom: 5px;
    }
  }

  &__description {
    font-family: 'Montserrat-Light', "Arial", sans-serif;;
    font-weight: 300;
    text-align: justify;
    display: flex;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.pink-button {
  display: inline-flex;
  align-self: flex-start;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 6px 20px;
  justify-content: center;
  transition: all .2s ease-out;
  text-decoration: none;
  background-color: $pink;
  color: $white;
  @media (max-width: $md3+px) {
    align-self: normal;
  }
}

.pink-button:hover {
  opacity: 1;
  transform: scale(1.1);
}

