@import '../../css/consts';

.film-card {
  background: linear-gradient(
                  104deg,
                  $grey-background 0%,
                  rgba(67, 54, 73, 1) 100%
  );
  border-radius: 10px;
  padding: 2% 2% 2% 2%;
  box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.25);
  color: $white;
  display: grid;
  grid-template-columns:  1fr 8fr;
  column-gap: 2.5%;

  &_pic {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &_pic img {
    border-radius: 20px;
  }

  &_description {
    display: grid;
    grid-template-rows:  2fr 4fr 45px;
    grid-column-start: 2;
    grid-column-end: 3;

    &_name {
      color: $white;
      font-weight: 600;
      font-size: 26px;

      &_year {
        color: $white;
        font-size: 14px;
        font-weight: 300;
        margin-top: 4px;
      }
    }

    &_text {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: $white;
      font-size: 18px;
      margin-bottom: 25px;
    }
  }
}
