@import '../../css/consts';

.film {
  &__items {
    text-align: center;
  }

  &__item {
    background: linear-gradient(
                    104deg,
                    $grey-background 0%,
                    $light-grey 100%
    );
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 4px 0 $grey-shadow;
    color: $white;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
  }

  &__name {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    transition: color 0.3s ease 0s;

    &:hover {
      color: $pink;
    }
  }

  &__year {
    font-size: 13px;
    font-family: 'Montserrat-Light', "Arial", sans-serif;;
    margin-bottom: 15px;
  }

  &__description {
    font-family: 'Montserrat-Light', "Arial", sans-serif;;
    font-weight: 300;
    text-align: justify;
    display: flex;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.pink-button {
  align-self: flex-start;
  font-weight: 600;
  font-size: 18px;
  padding: 6px 20px;
  text-decoration: none;
  background-color: $pink;
  color: $white;
}

  @media (min-width: $padSize) {
    .film {
      &__item {
        display: flex;
        align-items: stretch;
      }

      &__info {
        padding: 0 30px 0 20px;
      }
    }
  }

  @media (max-width: $padSize) {
    .film {
      &__items {
        //row-gap: 15px;
      }

      &__item {
        padding: 16px;
      }

      &__name {
        font-size: 24px;
      }

      &__year {
        margin-bottom: 5px;
      }
    }
    .pink-button {
      align-self: normal;
    }
  }
