mixin mainSlider(i)
    div.slider#main-slider
        div(class ="main-slider-list slider-list")
            div(class ="slider-track")
              each input, _ in i
                  div(class ="main-slider__item slide")
                          div.main-slider__background
                          div.main-slider__poster
                              img(src= input.poster)
                          a(class = "main-slider__link main-slider__content")(href=`${input.href}`)
                              div.main-slider__name  #{input.title}
                              div.main-slider__sub-name #{input.description}
        div.slider-arrows
            div(class="prev main-slider__button_left ")
                div(class="main-slider__arrow_left ")
            div(class=" main-slider__button_right next")
                div(class="main-slider__arrow_right ")
