mixin mainSlider(i, color)
    div.slider#main-slider
        div(class ="main-slider-list slider-list")
            div(class ="slider-track")
              each input, _ in i
                  div(class ="main-slider__item slide")
                    div.main-slider__indent
                        a.main-slider__link(href=`${input.href}`)
                            div.main-slider__poster
                                img(src= input.collectionAvatar)
                            if (color==="white")
                                div(class = "slider-container__track_film_name white_text")  #{input.title}
                            else
                                div.main-slider__name  #{input.title}
        div.slider-arrows
            div(class="prev main-slider__button_left ")
                div(class="main-slider__arrow_left ")
            div(class=" main-slider__button_right next")
                div(class="main-slider__arrow_right ")
