@import '../../css/consts';

.main-slider {
  &__indent {
    margin-right: 16px;
  }

  &__item {
    width: 1232px;
    height: 524px;
    display: inline-block;
    vertical-align: top;
    white-space: initial
  }
  &-list{
    width: 1216px;
    margin:0 auto;
  }

  &__name {
    font-family: "Montserrat-Black", "Arial", sans-serif;
    text-shadow: 0 1px 2px rgb(0 0 0 / 72%);
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 600;
    color: $white;
    z-index: 2;
  }

  &__poster {
    position: absolute;
    z-index: -1;
    & img {
      min-width: 100%;
      width: 1196px;
      text-align: center;
      height: 524px;
      min-height: 524px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.main-slider-list {
  overflow: visible;
  position: relative;
}

.main-slider-list.grab {
  cursor: grab;
}

.main-slider-list.grabbing {
  cursor: grabbing;
}

.main-slider__button_block{
  pointer-events: none;
}

.main-slider__button_right{
  left: 50%;
  transform: translateX(630px);
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  cursor: pointer;
  font-size: 0;
  background-image: linear-gradient(to right,rgba(31,27,46,0),rgba(31,27,46,50));
  &:hover .main-slider__arrow_right{
    transition: all 0.2s ease-out;
    background-image: url(static/pics/rightArrowActive.png);
  }
}
.main-slider__button_left{
  right: 50%;
  transform: translateX(-630px);
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  cursor: pointer;
  font-size: 0;
  background-image: linear-gradient(to left,rgba(31,27,46,0),rgba(31,27,46,50));
  &:hover .main-slider__arrow_left{
    transition: all 0.2s ease-out;
    background-image: url(static/pics/leftArrowActive.png);
  }
}

.main-slider__arrow_right{
  position: relative;
  top: 50%;
  left: 20px;
  width: 20px;
  height: 35px;;
  background-size: cover;
  background-image: url(static/pics/arrowNotActive.png);
}

.main-slider__arrow_left{
  top: 50%;
  position: relative;
  left: 94%;
  width: 20px;
  height: 35px;
  background-size: cover;
  background-image: url(static/pics/leftArrowNotActive.png);
}

@media (max-width: 1260px) {
  .main-slider {
    &__indent {
      margin-right: 10px;
    }
    &__item {
      width: 900px+10px;
      min-width: 900px+10px;
      height: 500px;
    }
    &__poster {
      & img {
        width: 900px;
        min-width: 900px;
        height: 500px;
        min-height: 500px;
      }
    }
    &-list{
      width: 900px;
    }
  }
  .main-slider__button_right{
    transform: translateX(450px);
  }
  .main-slider__button_left{
    transform: translateX(-450px);
  }
  .main-slider__arrow {
    &_right {
      top: 45%;
      left: 25px;
    }

    &_left {
      left: 88%;
      top: 45%;
    }
  }
}

@media (max-width: $horizontalPadSize) {
  .main-slider {
    &__item {
      width: 500px+16px;
      min-width: 500px+16px;
      height: 270px;
    }
    &__poster {
      & img {
        width: 500px;
        min-width: 500px;
        height: 270px;
        min-height: 270px;
      }
    }
    &-list{
      width: 516px;
    }

  }
  .main-slider__button_right{
    transform: translateX(250px);
  }
  .main-slider__button_left{
    transform: translateX(-250px);
  }
  .main-slider__arrow {
    &_right {
      top: 45%;
      left: 20px;
    }

    &_left {
      left: 78%;
      top: 45%;
    }
  }
}

@media (max-width: $phoneSize) {
  .main-slider {
    &__indent {
      margin-right: 10px;
    }
    &__item {
      width: 240px+10px;
      min-width: 240px+10px;
      height: 240px;
    }
    &__poster {
      & img {
        width: 240px;
        min-width: 240px;
        height: 240px;
        min-height: 240px;
      }
    }
    &-list{
      width: 240px;
    }
    &__name {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .main-slider__button_right{
    transform: translateX(140px);
  }
  .main-slider__button_left{
    transform: translateX(-120px);
  }
  .main-slider__arrow {
    &_right {
      top: 45%;
      left: 5px;
      width: 15px;
      height: 25px;
    }

    &_left {
      left: 80%;
      top: 45%;
      width: 15px;
      height: 25px;
    }
  }
}
