#auth-content {
    background: url("../../static/pics/bg_auth.jpg") center;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#auth, #reg {
    border-radius: 20px;
    background-color: #FFFFFF9A;
    text-align: center;
    color: #240B36;
    display: flex;
    flex-direction: column;
}

#reg {
    min-height: 400px;
    height: 75%;
    width: 412px;
}

#auth {
    min-height: 280px;
    height: 45%;
    width: 412px;
}

#auth-form {
    margin-top: 15px;
    flex: 1 0 auto;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


#auth-head {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #FFFFFF9A;
    height: 63px;
}

.text-inputs {
    font-family: "Montserrat-Regular", "Arial", sans-serif;
    padding-left: 15px;
    flex: 1 0 auto;
    border-radius: 10px;
    width:290px;
    height: 36px;
    outline:none;
    border:0;
}

#auth-btn {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #E10856;
    color: white;
    height: 40px;
    outline:none;
    border:0;
    cursor: pointer;
    width: 221px;
}

#auth-a {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    text-decoration: underline;
    color: currentcolor;
    margin-bottom: 25px;
}
