@import '../../css/consts.scss';

.auth-content {
    background: url('./static/pics/bg_auth.jpg') center;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth, .reg {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    color: $purple-text;
    max-width: 360px;
    min-width: 360px;
    display: flex;
    flex-direction: column;

    &__head {
        font-family: "Montserrat-Bold", "Arial", sans-serif;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(255, 255, 255, 0.6);
        height: 63px;
    }

    &__form {
        flex: 1 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    &__btn {
        font-family: "Montserrat-Bold", "Arial", sans-serif;
        font-size: 18px;
        border-radius: 15px;
        background-color: $pink;
        color: white;
        margin: 1em auto 0;
        height: 40px;
        outline:none;
        border: 0;
        cursor: pointer;
        width: 221px;

        &:hover {
            transform: scale(0.95);
        }
    }

    & a {
        font-family: "Montserrat-Bold", "Arial", sans-serif;
        text-decoration: underline;
        color: currentcolor;
        cursor: pointer;
        margin: 10px auto 25px auto;
    }
}

.reg {
    min-height: 450px;
    margin: 1em 0;
}

.auth {
    min-height: 280px;
}

@media (max-width: 450px) {
    .reg, .auth {
        max-width: 90vw;
        min-width: 90vw;
    }
}
