include ../genreCard/genreCard
mixin genreSlider(i)
    div.slider#genre-slider
        div.slider-list
            div(class ="slider-track")
              each input, _ in i
                  div(class ="genre-slider__item slide")
                    div.genre-slider__indent
                        a(class = "genre" href=`${input.href}`)
                            div.genre-slider__wrapper
                                img(src=input.genreAvatar)
                                div.genre__name #{input.title}
        div.slider-arrows
            div(class="prev slider__button slider__button_left")
            div(class="next slider__button slider__button_right")
