include ../filmCard/filmCard
div.wrapper
    main.page
        div(class = "collectionFilms page__container _container")
            h1(class="collectionFilms__main-title title") #{name}
            div(class ="collectionFilms__description description") #{description}
            div(class = "black-container film__items")
              each film, _ in filmsWithDescription
                +filmCard(film)
