@import '../../css/consts.scss';

.collection-info {
  margin-top: $header_indentation;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &__desctiption {
    margin-top: 20px;
  }

  &__black-container {
    margin-top: 20px;
    background-color: $grey-background;
    border-radius: 20px;
    color: $white;
    padding: 30px;
  }
}
