.search-block
    span.search-block__query-title Поиск по запросу: #{value}
    span.search-block__films-title Фильмы
    .black-container
        .film__items
            include ../loader/loader.pug
    span.search-block__persons-title Персоны
    .persons-block
        include ../loader/loader.pug


