.text-inputs {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  padding-left: 15px;
  flex: 1 0 auto;
  border-radius: 10px;
  margin: 0;
  max-height: 36px;
  min-height: 35px;
  outline:none;
  border:0;
  width: 80%;

  &__label {
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-size: 0.8em;
    font-family: "Montserrat-Medium", "Arial", sans-serif;
    align-self: baseline;
    margin-left: 11%;
  }
}
