.text-inputs {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  padding-left: 15px;
  flex: 1 0 auto;
  border-radius: 10px;
  max-height: 36px;
  min-height: 35px;
  outline:none;
  border:0;
  width: 80%;
}
