.user-block
    img.user-block__img(src=imgSrc)
    .user-block__submenu
        span #{userName}
        a.user-block__profile(href=`/profile/${userId}/reviews_marks`) Профиль
        div.user-block__logout-btn.not-route Выйти
