@import '../../css/consts';

.button-more {
  display: block;
  margin: 30px auto 0 auto;
  padding: 8px 100px;
  cursor: pointer;
  height: 46px;
  background: linear-gradient(
                  104deg,
                  $grey-background 0%,
                  rgba(67, 54, 73, 1) 100%
  );
  border-radius: 10px;
  max-width: 390px;
  box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.25);
  color: $white;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}
