@import '../../css/consts';

.button-more {
  display: inline-flex;
  align-self: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px 100px;
  font-size: 16px;
  justify-content: center;
  background: linear-gradient(
                  104deg,
                  $grey-background 0%,
                  $light-grey 100%
  );
  box-shadow: 0 0 4px 0 $grey-shadow;
  color: $white;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  text-align: center;
  @media (max-width: $md4+px) {
    padding: 10px 20px;
    align-self: normal;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}
