@import '../../css/consts';

.review-slider {
  &__indent {
    margin-right: 20px;
  }

  &__item {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 180px;
    cursor: pointer;
    padding: 20px;
    color: $white;
    border-radius: 10px;
  }

  &__name {
    //margin-bottom: 10px;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    //margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  &__date {
    font-size: 16px;
    text-align: right;
  }
}

.red {
  background: linear-gradient(45deg, $vinous, $light-grey);
}

.green {
  background: linear-gradient(45deg, $light-green, $light-grey);
}

.grey {
  background: linear-gradient(45deg, $grey, $light-grey);
}

@media (max-width: $phoneSize) {
  .review-slider {
    &__item {
      width: 280px;
      height: 160px;
    }

    &__name {
      font-size: 14px;
      //margin-bottom: 4px;
    }

    &__text {
      font-size: 16px;
      font-weight: 500;
      //margin-bottom: 10px;
    }

    &__date {
      font-size: 14px;
    }
  }
}
