include ../calendarCard/calendarCard
div.wrapper
    main.page
        div(class = "calendar page__container _container")
            h1(class="premiere__main-title title") Календарь релизов
            h3.calendar__date #{dateCalendar}
            #infinite-scroll
            each premiere, _ in premieres
                +calendarCard(premiere)
