@import '../../css/consts';

.calendar {
  &__date {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid $pink;
  }

  &__not-found {
    height: 210px;
  }
}

.premiere {
  &__item {
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    border-bottom: 2px solid $grey-inputs;

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0px;
    }
    &:first-child{
      padding-top: 0px
      //padding-top: 30px;
    }
  }

  &__image {
    & img {
      object-fit: cover;
      width: 160px;
      height: 100%;
      border-radius: 8px;
    }
  }

  &__body {
    flex: 1 1 auto;
  }

  &__title {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    transition: color 0.3s ease 0s;

    &:hover {
      color: $pink;
    }
  }

  &__data {
    margin-bottom: 10px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__add-info {
    margin-bottom: 5px;
    color: $grey;
  }

  &__description {
    font-family: 'Montserrat-Light', "Arial", sans-serif;;
    font-weight: 300;
    text-align: justify;
    display: flex;
  }

  &__rating_number {
    text-align: center;
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 30px;
    color: $pink;
    margin-bottom: 11px;
  }

  &__day {
    width: 90px;
    margin-bottom: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 70px;
    font-family: "Montserrat-Black", "Arial", sans-serif;
  }

  &__text {
    text-align: center;
  }
}

@media (min-width: $phoneSize) {
  .premiere {
    &__item {
      display: flex;
      align-items: flex-start;
    }

    &__data_mobile {
      display: none;
    }

    &__body {
      padding: 0 30px 0 20px;
    }

    &__title {
      font-size: 24px;
    }
  }
}

@media (max-width: $notebookSize) {
  .premiere {
    &__description {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 16px;
    }
  }
}

@media (max-width: $horizontalPadSize) {
  .premiere {
    &__description {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 16px;
    }
  }
}

@media (max-width: $padSize) {
  .premiere {
    &__description {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 16px;
    }
  }
}

@media (max-width: $phoneSize) {
  .premiere {
    &__item {
      display: block;
      padding-bottom: 20px;
      padding-top: 20px;

      &:first-child{
        //padding-top: 0px;
      }
    }
    &__image {
      display: flex;
      gap: 16px;
      margin-bottom: 8px;

      & img {
        width: 100px;
        height: 150px;
        border-radius: 4px;
      }
    }

    &__info {
      display: none;
    }

    &__description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 16px;
    }

    &__title {
      font-size: 20px;
    }

    &__data_mobile {
      display: flex;
      flex-direction: column;
    }

    &__day {
      width: auto;
    }

    &__date{
      margin-top: 20px;
    }
  }
}
