@import '../../css/consts';

.collection {
  flex-direction: column;

  &_wrapper {
    position: relative;
    padding-top: 56.25%;

    & img {
      border-radius: 10px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_name {
    font-weight: 600;
    font-size: 18px;
    color: $white;
  }

  &:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1);
  }
}
