@import '../../css/consts';

.collection {
  transition: all .2s ease-out;
  text-decoration: none;
  flex-direction: column;
  @media (min-width: $phoneSize) {
    min-width:180px;
  }

  &__wrapper {
    position: relative;
    padding-top: 56.25%;

    & img {
      border-radius: 10px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 18px;
    color: $white;
    @media (max-width: $phoneSize) {
      font-size: 14px;
    }
  }

  &:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1);
  }
}
