.empty-sign-block {
  color: #22223B;
  font-size: 1em;
  text-align: center;
  margin-left: 29px;
  margin-top: 10px;

  &_white {
    color: $white;
    font-size: 1em;
    text-align: center;
  }

  &_big {
    color: #22223B;
    font-size: 1.5em;
    text-align: center;
  }
}
