-
    var headerLinks = [
        {
            className: 'menu-btn',
            href: '/',
            title: 'Подборки'
        },
        {
            className: 'menu-btn',
            href: '/genres',
            title: 'Жанры'
        },
        {
            className: 'menu-btn',
            href: '/releases',
            title: 'Релизы'
        },
        {
            className: 'menu-btn',
            href: '/random',
            title: 'Рандомный'
        },
    ];

header.header
    img.logo(src='static/pics/logo.svg')
    .wide-menu
      each i in headerLinks
              a(class= i.className href=i.href)= i.title
    //.search-div
    //    input.search-input(placeholder='Фильмы, сериалы, актёры')
    //    img.search-btn(src='static/pics/search.svg')
    if authorized
        //img.user-pic(src=#{picSrc})
        p.user-name #{userName}
        .logout-btn Выйти
    else
        .login-btn Войти
