#navbar
    img#logo(src=staticPath + 'pics/logo.svg')
    #wide-menu
        each btn in btns
            div.menu-btn= btn
        span
            img#cube(src=staticPath + 'pics/cube.svg')
    #search-div
        input#search-input(placeholder='Фильмы, сериалы, актёры')
        img#search-btn(src=staticPath + 'pics/search.svg')
    if authorized
        p Вася Пупкин
    else
        #login-btn Войти
