header.navbar
    img.logo(src = '../../static/pics/logo.svg')
    .wide-menu
      each btn in headerLinks
            if  btn.title == 'Рандомный фильм'
                a.menu-btn
                    include ../../static/pics/cube.svg
            else
                a.menu-btn(href = btn.href)= btn.title
    .search-div
        input.search-input(placeholder = 'Фильмы, сериалы, актёры')
    a.login-btn(href = '/auth') Войти
