header.navbar
    a.navbar__logo(href='/')
        include ../../static/pics/logo.svg
    .navbar__wide-menu
      each btn in headerLinks
            if  btn.title == 'Рандомный фильм'
                a.navbar__menu-btn
                    include ../../static/pics/cube.svg
            else
                a.navbar__menu-btn(href = btn.href)= btn.title
    .search
        input.search__input(placeholder = 'Фильмы, сериалы, актёры')
        .search__btn
            include ../../static/pics/search.svg
    include enterButton.pug
