@import '../../css/consts.scss';

.navbar {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  width: 100%;
  flex: 0 0 65px;
  z-index: 1;
  top: 0;
  position: sticky;
  background-color: $grey-base;
  display: flex;
  align-items: center;

  &__logo {
    max-height: 45px;
    margin-left: 7%;
    display: flex;
    align-items: center;

    & svg {
      height: 45px;
      transition: 0.5s ease-in-out;
    }
  }

  &__wide-menu {
    display: inherit;
    font-size: 20px;
    color: white;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    min-width: 360px;
  }

  &__vertical-menu {
    display: none;
    margin-left: 18px;
    flex-direction: column;
    height: 65px;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    & svg {
      fill: $white;
    }
  }

  &__menu-btn {
    text-decoration: none;
    cursor: default;
    color: $white;
    fill: $white;
    stroke: $white;
    transition: .2s ease-in-out;

    & > svg > g > path {
      transition: .5s ease-in-out;
    }

    &:hover {
      cursor: pointer;
      color: $pink;
    }

    &:hover > svg > g > path {
      fill: $pink;
      stroke: $pink;
    }

    &_active  > svg > g > path {
      text-decoration: none;
      cursor: default;
      color: $pink;
      fill: $pink;
      stroke: $pink;
    }

    &_active {
      text-decoration: none;
      cursor: default;
      color: $pink;
    }
  }

  &__login-btn {
    text-decoration: none;
    color: $pink;
    font-size: 24px;
    margin-right: 7%;
    transition: .5s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.vertical-menu {

  &__btn-container {
    transition: display 4s 1s;
    background-color: $grey-base;
    position: absolute;
    top: 65px;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    min-width: 60vw;
    min-height: 30vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 100;
    transition-property: visibility, opacity;
    transition-duration: 2s, 0.4s;
    transition-delay: 0s;

    & > a {
      text-decoration: none;
      color: $white;
      margin-left: 10px;
      font-size: 20px;
    }

    & > .navbar__menu-btn_active {
      color: $pink;
    }
  }
}

.vertical-menu-line {
  margin: 2px 0;
  display: none;
  width: 29px;
  height: 4px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 7px 0;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

.first-line-in-menu {
  background: $white;
  transform-origin: 0 0;

  &_animated {
    background: $pink;
    transform: rotate(45deg) translate(1px, 0px);
  }
}

.second-line-in-menu {

  &_animated {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
}

.third-line-in-menu {
  background: $white;
  transform-origin: 0 100%;

  &_animated {
    background: $pink;
    transform: rotate(-45deg) translate(-1px, -3px);
  }
}

#vertical-logout-btn {
  font-size: 20px;
}

@media (min-width: 1016px) {
  .navbar__vertical-menu {
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 1016px) {
  .navbar__wide-menu {
    display: none;
  }

  .vertical-menu__btn-container {
    visibility: hidden;
    opacity: 0;
  }

  .navbar__vertical-menu {
    display: flex;
    margin-right: 10px;

    & input, & span {
      display: flex;
    }
  }

  .navbar__logo {
    margin: 0;

    svg {
      height: 40px;
    }
  }
}

@media (max-width: 560px) {
  .navbar__logo {
    margin: 0;

    & svg {
      height: 30px;
      max-width: 116px;
    }
  }

  .navbar__login-btn {
    font-size: 20px;
  }

  .vertical-menu__btn-container {
    width: 100vw;
  }
}
