@import '../../css/consts';

.film {
  &__container {
    max-width: $maxWidth + px;
    margin: 20px auto 40px auto;
  }
}

.bookmark {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 40px;
  height: 44px;
  cursor: pointer;
  background-size: cover;
  border-radius: 3px;
  background-image: url(static/pics/bookmark.png);
}

.not_favourite {
  background-color: rgba(85, 85, 85, .6);

  &:hover {
    transition: all .5s ease-out;
    background-color: $grey;
  }
}

.favourite {
  transition: all .5s ease-out;
  background-color: $pink;
}

.star-rating {
  display: flex;
  border-bottom: 4px solid $pink;
  gap: 3px;

  &__scors {
    font-family: "Montserrat-Bold", "Arial", sans-serif;;
    font-size: 40px;
    color: $pink;
  }

  &__pic {
    width: 30px;
    height: 30px;
    background-size: cover;
    align-self: center;
    background-image: url(static/pics/pink_star.png);
  }
}

.trailer {
  column-gap: 32px;;
  display: flex;

  &__video {
    flex: 1 0 auto;
    display: block;
    width: 300px;
    position: relative;
    height: 167px;
    background-color: $light-grey;
    border-radius: 3px;
  }

  &__button {
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $pink;
    border-radius: 10px;
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: $white;
    padding: 8px 20px;
    width: 130px;
    height: 30px;
    justify-content: center;
    align-items: center;

    &_img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }

  &__name {
    font-family: "Montserrat-Bold", "Arial", sans-serif;

    margin-bottom: 10px;
  }

  &__descriprion {
    display: block;
  }

  &_summery {
    letter-spacing: 0.8px;
    font-size: 16px;
  }
}

.rating-subtitle {
  margin-bottom: 0;
}

.film-info {
  &__reviews {
    margin-top: 20px;
  }
}

.rating {
  align-items: center;
  display: flex;
  gap: 70px;

  &__stars {
    display: flex;
    gap: 5px;
  }

  .rating-item {
    width: 36px;
    height: 33px;
    background-image: url(static/pics/rating_star.png);
    cursor: pointer;
  }

  .rating-item.active {
    background-image: url(static/pics/pink_rating_star.png);
  }

  &__number {
    color: $grey-shadow;
    text-align: center
  }

  &__text-number {
    text-align: center;
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 46px;
    color: $pink;
    margin-bottom: 11px;
  }

  &__text-underline {
    height: 5px;
    background-color: $pink;
    align-self: stretch;
  }
}


.button__write-review {
  background-color: $white;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 20px;
  padding: 8px 20px;
  color: $purple-button;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $pink;
  }
}

.button__show-more {
  margin-top: $block_indentation;
  margin-bottom: 20px;
}

.film-review {
  margin-bottom: 50px;

  &__date {
    text-align: right;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: $grey
  }
}

.film-info__white-container_review_warning {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
}

@media (max-width: $notebookSize) {
  .film {
    &__container {
      max-width: none;
      padding: 0 32px;
    }

  }
}

@media (max-width: $horizontalPadSize) {
  .film {
    &__container {
      max-width: 750px;
    }
  }
  .rating {
    gap: 30px;

  }
  .rating-item {
    width: 28px;
    height: 28px;
    background-size: cover;
  }

}

@media (max-width: $phoneSize) {
  .film {
    &__container {
      padding: 0;
      margin: 0;
    }
    &__block{
      padding: 0 16px;
    }

    &__show-more {
      padding: 0 0 0 16px ;
    }

    &__pic {
      position: relative;
      overflow: hidden;
      height: 220px;
      padding-top: 36px;
      padding-bottom: 36px;
      background-color: #5F5E5E;
      & img {
        width: 256px;
        height: 380px;
        display: block;
        margin: 0 auto;
      }
    }

    &__text {
      text-align: center;
      position: relative;
      margin-top: -14px;
      padding: 24px 16px 0px;
      border-radius: 15px 15px 0 0;
      background: $white;

    }
  }
  .star-rating {
    justify-content: center;

    &__scors {
      text-align: center
    }
  }
  .trailer {
    flex-direction: column;
    padding: 0 16px;

    &__video {
      width: 100%;
      margin-bottom: 20px;
    }

    &__name {
      font-size: 20px;
    }

    &__summery {
      margin-bottom: 16px;
    }
  }
  .rating {
    gap: 0;
    flex-direction: column;

    &__stars {
      width: 100%;
      justify-content: space-around;
    }

    .rating-item {
      width: 22px;
      height: 22px;
      background-size: cover;
    }
  }
  .button__write-review {
    display: none;
  }
  .rating-subtitle {
    margin-bottom: 10px;
  }

  .button__show-more {
    margin: 20px 0 10px 0;
  }
  .film-review__subtitle {
    margin: 0 16px 10px 16px;
  }

  .user-rating {
    justify-content: center;
  }
}



