@import '../../css/consts';

.film-info {
  margin-top: $header_indentation;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &__container {
    column-gap: 5%;
    display: flex;

    &_pic-film img {
      width: 300px;
      height: 100%;
      border-radius: 3px;
    }

    &_text {
      color: $black;
      display: flex;
      flex-direction: column;
      gap: 40px;

      &_main {
        display:grid;
        grid-template-columns: auto 94px;
        gap:20px;

        &_rus {
          font-family: "Montserrat-Black", "Arial", sans-serif;
          font-size: 40px;
          margin-bottom: 12px;
        }

        &_en {
          font-size: 16px;
        }

        &_rating {
          position: relative;
          width:94px;
          height: 94px;

          &_scors {
            font-size: 30px;
            color: $white;
            position: absolute;
            right: 26px;
            bottom: 25px;
          }
        }
      }

      &_facts {
        font-size: 20px;

        &_title {
          font-weight: 700;
          font-size: 26px;
          margin-bottom: 20px;
        }

        &_container {
          display: grid;
          margin-bottom: 5px;
          gap:10px;
          grid-template-columns: 2fr 5fr;

          &_key {
            grid-column-start: 1;
            grid-column-end: 2;
          }

          &_value {
            grid-column-start: 2;
            grid-column-end: 3;
            font-weight: 600;
          }
        }

        &_container-last {
          gap:10px;
          display: grid;
          grid-template-columns: 2fr 5fr;
        }
      }
    }
  }

  &__container-trailer {
    display:flex;
    column-gap: 5%;
    margin-top: $block_indentation;

    &_video {
      min-width: 300px;
      float: left;
      position: relative;
      height: 167px;
      background-color: $light-grey;
      border-radius: 3px;

      &_button {
        text-decoration: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: $pink;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Montserrat-Bold", "Arial", sans-serif;
        font-style: normal;
        font-size: 20px;
        color: $white;
        padding: 8px 20px;
        width: 130px;
        height: 24px;
        justify-content: center;
        align-items: center;

        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }

        &_img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.5rem;
        }
      }
    }

    &_name {
      font-family: "Montserrat-Bold", "Arial", sans-serif;
      font-size: 30px;
      margin-bottom: 10px;
    }

    &_summery {
      letter-spacing: 0.8px;
      font-size: 16px;
    }
  }

  &__black-container {
    margin-top: $block_indentation;
    background-color: $grey-background;
    border-radius: 20px;
    color: $white;
    padding: 30px;

    &_rating {
      .rating_stars {
        display: flex;
        gap: 10px;

        &_item_number {
          color: $grey-shadow;
          text-align: center
        }

        .rating-item {
          width: 36px;
          height: 33px;
          background-image: url(static/pics/rating_star.png);
          cursor: pointer;
        }

        .rating-item.active {
          background-image: url(static/pics/pink_rating_star.png);
        }
      }
    }

    .rating {
      align-items: center;
      display:flex;
      gap:70px;
    }

    .rating_stars_number {
      &_text {
        font-family: "Montserrat-Bold", "Arial", sans-serif;
        font-size: 46px;
        color: $pink;
        margin-bottom: 11px;


        &_line {
          height: 5px;
          background-color: $pink;
          align-self: stretch;
        }
      }
    }

    &_reviews {
      margin-top: $block_indentation;
    }
    .button-write-review {
      background-color: $white;
      border-radius: 4px;
      cursor: pointer;
      font-family: "Montserrat-Bold", "Arial", sans-serif;
      font-size: 20px;
      padding: 8px 20px;
      color: $purple-button;
      justify-content: center;
      align-items: center;

      &:hover {
        color: $pink;
      }
    }

  }

  &__white-container {
    margin-top: $block_indentation;
    padding-right: 30px;
    padding-left: 30px;

    &_review {
      margin-top: $block_indentation;
      font-family: "Montserrat-Bold", "Arial", sans-serif;
      font-size: 30px;
    }
  }
}

.film-info__white-container_review_warning {
  margin-top: 20px;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
}
