@import '../../css/consts';

.film-info {
  margin-top: $header_indentation;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &__container {
    column-gap: 5%;
    display: flex;

    &_pic-film img {
      width: 300px;
      height: 100%;
      border-radius: 3px;
    }

    &_text {
      color: $black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_main {
        position: relative;
        display: inline-block;

        &_rus {
          font-family: "Montserrat-Black", "Arial", sans-serif;
          font-size: 40px;
          margin-bottom: 12px;
        }

        &_en {
          font-size: 16px;
        }

        &_rating {
          position: absolute;
          right: 0;
          top: 0;

          &_scors {
            font-size: 32px;
            color: $white;
            position: absolute;
            right: 25px;
            bottom: 31px;
          }
        }
      }

      &_facts {
        font-size: 20px;

        &_title {
          font-weight: 700;
          font-size: 26px;
          margin-bottom: 20px;
        }

        &_container {
          margin-bottom: 15px;
          display: grid;
          grid-template-columns: 2fr 5fr;
          column-gap: 2%;

          &_key {
            grid-column-start: 1;
            grid-column-end: 2;
          }

          &_value {
            grid-column-start: 2;
            grid-column-end: 3;
            font-weight: 600;
          }
        }

        &_container-last {
          display: grid;
          grid-template-columns: 2fr 5fr;
          column-gap: 2%;
        }
      }
    }
  }

  &__container-trailer {
    &_video {
      margin-right: 5%;
      min-width: 300px;
      float: left;
      position: relative;
      height: 167px;
      background-color: #433649;
      border-radius: 3px;

      &_button {
        text-decoration: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(225, 8, 86, 0.7);
        border-radius: 10px;
        cursor: pointer;
        font-family: "Montserrat-Bold", "Arial", sans-serif;
        font-style: normal;
        font-size: 20px;
        color: $white;
        padding: 8px 20px;
        width: 130px;
        height: 24px;
        justify-content: center;
        align-items: center;

        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }

        &_img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.5rem;
        }
      }
    }

    &_name {
      font-family: "Montserrat-Bold", "Arial", sans-serif;
      font-size: 30px;
      margin-bottom: 10px;
    }

    &_summery {
      letter-spacing: 0.8px;
      font-size: 16px;
    }
  }

  &__black-container {
    background-color: $grey-background;
    border-radius: 20px;
    color: $white;
    padding: 30px;
  }

  &__white-container {
    padding-right: 30px;
    padding-left: 30px;

    &_review {
      font-family: "Montserrat-Bold", "Arial", sans-serif;
      font-size: 30px;
    }
  }
}

.film-info__white-container_review_warning {
  margin-top: 20px;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
}


